/* 전체 레이아웃 */
body {
    background-color: #fafafa;
    margin: 0%;
}

#container {
    margin: 0px auto;
    width: 80vw;
    height: 100%;

}


/* 제목 */
#title {
    padding: 24px;
    margin: 24px;
    font-size: 24pt;
}

#img-container {
    margin: 24px 24px 0px 24px;
    border-radius: 2em;
    box-shadow: 0 4px 16px #afafaf33;
    border: 1px solid #dddcdc;
    overflow: hidden;
}

#img-container img {
    width: 100%;
    object-fit: fit-content;
}

#desc {
    background-color: #ffffff;
    box-shadow: 0 4px 16px #afafaf33;
    margin: 14px 24px 24px 24px;
    padding: 24px;
    font-size: 12pt;
    line-height: 20pt;
    border-radius: 2em;
    border: 1px solid #dddcdc;
}


.btn {
    position: fixed;
    bottom: 0px;
    padding: 24px 0 24px 0;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    border-radius: 1em 1em 0 0/ 1em 1em 0 0;
}

/* 버튼 */
#go {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #ff8138 0%, #ffcb48 100%);
    box-shadow: 0 4px 16px #fbab7e4d;
}

#go2 {
    background-color: #00b1ff;
    background-image: linear-gradient(180deg, #00b1ff 0%, #0061ff 100%);
    box-shadow: 0 4px 16px #00b1ff4d;
}

#go3 {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    box-shadow: 0 4px 16px #8bc6ec4d;
}

@media (max-width: 480px) {
    #container {
        width: 100vw;
        height: 100%;
    }
}