/* 전체 레이아웃 */
body {
    background-color: white;
    margin: 0%;
}

#container {
    margin: 0px auto;
    width: 80vw;
    height: 100%;

}

/* 제목 */
#title {
    padding: 24px;
    margin: 16px;
    font-size: 24pt;
}




#tip {
    background-color: rgb(255, 255, 255);
    margin: 14px 24px 24px 24px;
    padding: 24px;
    line-height: 24px;
    border-radius: 2em;
    border: 1px solid rgb(221, 220, 220);
}
.card {
    margin: 0px 24px 24px 24px;
    color: white;
    font-size: 20pt;
    text-align: center;
    border-radius: 2em;
}
#card1 {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, rgb(251, 171, 126) 0%, rgb(247, 206, 104) 100%);
    box-shadow: 0 4px 16px rgba(251, 171, 126, 0.3);
}
#card2 {
    background-color: #00b1ff;
    background-image: linear-gradient(180deg, rgb(0, 177, 255) 0%, rgb(0, 97, 255) 100%);
    box-shadow: 0 4px 16px rgba(0, 177, 255, 0.3);
}
#card3 {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, rgb(139, 198, 236) 0%, rgb(149, 153, 226) 100%);
    box-shadow: 0 4px 16px rgba(139, 198, 236, 0.3);
}


/* 버튼 */
#go {
    display: none;
    
    position: fixed;
    bottom: 0px;
    padding: 32px 0 32px 0;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    background-color: #0072de;
    box-shadow: 0 4px 16px rgba(88, 88, 88, 0.5);
    border-radius: 1em 1em 0 0/ 1em 1em 0 0;
}

@media (max-width: 480px) {
    #container {
        width: 100vw;
        height: 100%;
    }

}
