/* 전체 레이아웃 */
body {
    background-color: #fafafa;
    margin: 0%;
}

#container {
    margin: 0px auto;
    width: 80vw;
    height: 100%;

}

/* 제목 */
#title {
    padding: 24px;
    margin: 16px;
    font-size: 24pt;
}




#tip {
    margin: 14px 24px 24px 24px;
    padding: 24px;
    line-height: 24px;
    border-radius: 1.5em;
    border: 1px solid #dddcdc;
}

.card {
    margin: 0px 24px 24px 24px;
    color: white;
    font-size: 20pt;
    text-align: center;
    border-radius: 1.5em;
}

#card1 {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #ff9252 0%, #f7ce68 100%);
    box-shadow: 0 4px 16px #fbab7e4d;
}

#card2 {
    background-color: rgb(0, 177, 255);
    background-image: linear-gradient(180deg, #00b1ff 0%, #0061ff 100%);
    box-shadow: 0 4px 16px #00b1ff4d;
}

#card3 {
    background-color: rgb(139, 198, 236);
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    box-shadow: 0 4px 16px #8bc6ec4d;
}


/* 버튼 */
#go {

    position: fixed;
    bottom: 0px;
    padding: 24px 0 24px 0;
    width: 100%;
    font-size: large;
    text-align: center;
    color: #5f5f5f;
    background-color: #d8d8d8;
    box-shadow: 0 4px 16px rgba(88, 88, 88, 0.5);
    border-radius: 1em 1em 0 0/ 1em 1em 0 0;
}

@media (max-width: 480px) {
    #container {
        width: 100vw;
        height: 100%;
    }
}

